<div class="d-flex justify-content-center">
  <div class="card w-60vw d-flex flex-column flex-md-row justify-content-around align-items-center py-5">
    <div class="card-photo m-2 w-250px">
    </div>
    <div class="card-content m-2 d-flex flex-column">
      <div class="card-name font-weight-bold text-center">Tom Harvey</div>
      <div class="card-description text-muted w-250px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero perspiciatis velit voluptas, impedit quasi veritatis quod rerum error doloribus.</div>
    </div>
  </div>
</div>
