.w-60vw   { width: 60vw;    }
.w-250px  { width: 250px;   }
.w-400px  { width: 400px;   }
.h-50vh   { height: 50vh;   }
.h-65vh   { height: 65vh;   }
.h-85vh   { height: 85vh;   }
.h-100vh  { height: 100vh;  }

