// Specific CSS for your home-page
.hero-illustration img{
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}

.office-photo img{
  width: 100%;
  max-width: 1040px;
  height: auto;
  margin: 0 auto;
}

.team-wrapper {
  margin-top: 45%;
  margin-bottom: 15%;
}

// .selected-work-title {
//   opacity: 0;
// }

.visible {
  opacity: 1;
  transition: 2s ease-in-out;
}

.selected-work-image img {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 0 auto;
}

.selected-work-body {
  max-width: 400px;
}

.intro-text {
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 15%;
}

.form-container {
  height: 50vh;
  position: relative;
}

.form-wrapper {
  background: $white;
  padding: 20px 50px;
  position: absolute;
  top: -30%;
  left: 20%;
  transform: translateZ(0.2px);
  box-shadow: 0.2px -0.2px 1.5px 0px rgba(230, 230, 230, 1);
}

.team-mate {
  width: 270px;
  max-width: 300px;
  background: $white;
  box-shadow: 0.2px -0.2px 1.5px 0px rgba(230, 230, 230, 1);
}

.background-lilac {
  background-color: $lilac;
}

@include media-breakpoint-up(sm) {
  .form-wrapper {
    width: 550px;
  }
}
