// Specific CSS for your home-page
.hero-illustration img{
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}

.office-photo img{
  width: 100%;
  max-width: 1040px;
  height: auto;
  margin: 0 auto;
}

.work-section {
  margin-bottom: 300px;
}

@include media-breakpoint-up(sm) {
  .work-section {
    margin-bottom: 50px;
  }
}

.selected-work-image img {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 0 auto;
}

.selected-work-body {
  max-width: 400px;
}

.intro-text {
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 15%;
}

@include media-breakpoint-up(sm) {
  .team-section {
    left: 5%;
    height: 85vh;
  }
}

.team-mate {
  width: 300px;;
  max-width: 300px;
  border: 1px solid $light-gray;
  background: $white;
}

.background-lilac {
  background-color: $lilac;
}

