<div class="background-color-panel d-flex flex-column  flex-md-row align-items-start justify-content-between px-5">
  <div class="px-3 px-sm-0">
    All rights reserved 2019 © 3W Consulting Aps CVR: 117949999
  </div>
  <div class="p-3 px-sm-0">
    Njalsgade 19D, 1. sal<br>
    Founders House København
  </div>
</div>
