<footer class="background-lilac">
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="my-3">
        3W Consulting Aps CVR: 117949999
      </div>
      <div class="my-3">
        Njalsgade 19D, 1. sal
        Founders House København
      </div>
    </div>
  </div>
</footer>
