<footer class="background-lilac">
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="my-3">
        <%= CompanyInfo.copyrights %>
      </div>
      <div class="my-3">
        <%= CompanyInfo.address %>
      </div>
    </div>
  </div>
</footer>

