<footer class="background-lilac">
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="my-3">
        <%= t('company-info.rights-reserved') %>
      </div>
      <div class="my-3">
        <%= t('company-info.address').html_safe %>
      </div>
    </div>
  </div>
</footer>


