<div id="sidenav">
  <div class="content">
    <div class="d-flex flex-column align-items-center">
      <p class="d-none d-sm-block text-uppercase">Menu</p>
      <a href="#" class="menu-button" id="menuButton">
        <span class="burger-icon"></span>
      </a>
    </div>
  </div>
</div>
