<div id="sidenav">
  <div class="content">
    <div class="d-flex flex-column align-items-center">
      <span>M</span>
      <span>E</span>
      <span>N</span>
      <span>U</span>
    </div>
    <div class="action">
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>
