<div id="sidenav" class="px-5 py-2 text-center">
  <div class="content">
    <div class="text">
      <span>M</span>
      <span>E</span>
      <span>N</span>
      <span>U</span>
    </div>
    <div class="action">
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>
