<div class="selected-work d-flex flex-column <%= klass %> align-items-center justify-content-around pt-sm-5">
  <div class="selected-work-image pl-sm-5">
    <%= image_tag image_url %>
  </div>
  <div class="selected-work-body text-center text-sm-left pt-5 pt-sm-0 pl-sm-5">
    <h3 class="mt-0"><%= name %></h3>
    <p><%= desc %></p>
  </div>
</div>
