<div class="team-mate d-flex flex-column align-items-center p-4 m-3">
  <div class="team-header p-4">
    <%= image_tag image_url, class: "rounded-circle" %>
  </div>
  <div class="team-body">
    <h4><%= name %></h4>
    <p class="text-muted"><%= desc %></p>
  </div>
</div>

