#sidenav {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  height: 190px;
  width: 90px;
  font-size: $small-font-size;
  font-weight: bold;
  .content {
    position: absolute;
    left: 30px;
    top: 50px;
    cursor: pointer;
    span {
      font-weight: $font-weight-bolder;
    }
  }
}

.menu-options {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: $white;
  transform:translate(9999px);
  opacity: 0;
  box-shadow: 0px 0px 15px -5px rgba(212,212,212,0.8);
  ul {
    padding: 55px 0 0 100px;
  }
  li {
    list-style: none;
    line-height: 50px;
    font-size: $h3-font-size;
    font-weight: $font-weight-bold;
  }
  a {
    color: $gray-700;
    text-decoration: none;
    &:hover {
      color: $gray-900;
    }
  }
}

.show {
  transition: opacity .5s ease-in-out;
  transform: translate(0);
  opacity: 1;
}

.hide {
  transform:translate(9999px);
  transition: opacity .2s ease-in-out;
  opacity: 0;
}

.color-change {
  background-color: $white;
}
